body {
    font-family: sans-serif;
    background-color: steelblue;
    margin-top: 75px;
    color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.container{
     max-width: 800px;
     margin: 0 auto;
     color: gainsoboro;
     font-family: Segoe UI;
     padding-left: 20px;
     padding-right: 20px;
}