body {
    font-family: sans-serif;
    background-color: lightsteelblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

.container{
     max-width: 800px;
     margin: 0 auto;
     color: gainsoboro;
     font-family: Segoe UI;
     padding-left: 20px;
     padding-right: 20px;
}